# dirs
/output
/data
/build

# binaries
**__pycache__**
**egg-info**
**dist**
*.pyc
*.so
*.pth
*.pkl
*.zip
*.bin
/pcdet/version.py

# editor
*~
.*~
\#*#
*.swo
*.swp
**.vscode**
*.idea/

# poetry
/poetry.lock
